[submodule "d3-tutorial"]
	path = d3-tutorial
	url = git@github.com:pawelbx/d3-tutorial.git
[submodule "coffeeScriptNotes"]
	path = coffeeScriptNotes
	url = https://github.com/pawelbx/coffeeScriptNotes.git
[submodule "proGitOutline"]
	path = proGitOutline
	url = git@github.com:pawelbx/proGitOutline.git
